/*********************************
* General
*********************************/
* {
  border: 1px solid #b3b3b3;
  text-align: center;
}
body {
  background: aliceblue;
}
.container {
  display: flex;
  min-height: 75em;
  flex-direction: column;
  justify-content: space-between;
}
/*********************************
* HEADER
*********************************/
header {
  flex-grow: 1;
  background-color: rgb(225, 241, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}
/*********************************
* MAIN
*********************************/
main {
  flex-grow:4;
  background-color: rgb(205, 231, 253);
  display: flex;
  justify-content: center;
  align-items: center;
}
/*********************************
* FOOTER
*********************************/
footer  {
  flex-grow: 1;
  background-color: rgb(176, 218, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 600px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  header {
    width: 100%;
  }
  main, footer, header {
    margin: 1em;
  }
}